@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&family=Space+Mono:wght@700&display=swap");

@media only screen and (min-width: 600px) {
  .main {
    height: 100vh;
    width: 100vw;
    background-color: hsl(218, 23%, 16%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    font-family: "Manrope", sans-serif;
    font-family: "Space Mono", monospace;
  }

  .quotebox {
    width: 570px;
    height: 330px;
    margin: 0 auto;
    background-color: hsl(217, 19%, 24%);
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
  }

  .quotenum {
    font-size: 14px;
    color: hsl(150, 100%, 66%);
    letter-spacing: 3px;
    font-weight: 400;
    font-family: "Manrope", sans-serif;
    font-family: "Space Mono", monospace;
  }

  .quote {
    font-size: 24px;
    width: 95%;
    height: 120px;
    text-align: center;
    color: hsl(193, 38%, 86%);
    font-weight: 800;
    font-family: "Manrope", sans-serif;
    font-family: "Space Mono", monospace;
    letter-spacing: 0.1px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .div {
    margin-bottom: 30px;
  }

  .button {
    background-color: hsl(150, 100%, 66%);
    border: none;
    border-radius: 50%;
    padding: 16px 16px;
    position: relative;
    bottom: 30px;
  }

  .button:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 40px 0px hsl(150, 100%, 66%);
    -moz-box-shadow: 0px 0px 40px 0px hsl(150, 100%, 66%);
    box-shadow: 0px 0px 40px 0px hsl(150, 100%, 66%);
  }
}

@media only screen and (max-width: 599px) {
  .main {
    height: 100vh;
    width: 100vw;
    background-color: hsl(218, 23%, 16%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    font-family: "Manrope", sans-serif;
    font-family: "Space Mono", monospace;
  }

  .quotebox {
    width: 360px;
    height: 400px;
    margin: 0 auto;
    background-color: hsl(217, 19%, 24%);
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
  }

  .quotenum {
    font-size: 14px;
    color: hsl(150, 100%, 66%);
    letter-spacing: 3px;
    font-weight: 400;
    font-family: "Manrope", sans-serif;
    font-family: "Space Mono", monospace;
    margin-bottom: 10px;
  }

  .quote {
    font-size: 22px;
    width: 95%;
    height: 120px;
    text-align: center;
    color: hsl(193, 38%, 86%);
    font-weight: 400;
    font-family: "Manrope", sans-serif;
    font-family: "Space Mono", monospace;
    letter-spacing: 0.01px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .div {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .button {
    background-color: hsl(150, 100%, 66%);
    border: none;
    border-radius: 50%;
    padding: 16px 16px;
    position: relative;
    bottom: 30px;
  }

  .button:active {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 40px 0px hsl(150, 100%, 66%);
    -moz-box-shadow: 0px 0px 40px 0px hsl(150, 100%, 66%);
    box-shadow: 0px 0px 40px 0px hsl(150, 100%, 66%);
  }
}
